<launch>
  <arg name="namespace" default="voliro"/>
  <arg name="odometry_topic" default="msf_core/odometry"/>
  <arg name="world_frame_name" default="world"/>

  <group ns="$(arg namespace)">
    <node pkg="omav_gui" name="omav_gui" type="omav_gui.py" output="screen">
    </node>
  </group>

</launch>