<launch>
  <arg name="namespace" default="voliro"/>
  <arg name="odometry_topic" default="odometry_sensor/odometry"/>
  <arg name="waypoint_file_name" default="eval_traj_small"/>
  <arg name="world_frame_name" default="world"/>
  <arg name="order_rpy" default="0"/>

  <group ns="$(arg namespace)">
    <node name="local_planner" pkg="omav_local_planner" type="voliro_trajectories_node" output="screen" clear_params="true">
      <param name="waypoints_filename" value="$(find omav_local_planner)/resource/$(arg waypoint_file_name).txt" />
      <param name="order_rpy" value="$(arg order_rpy)"/>
      <remap from="odometry" to="$(arg odometry_topic)"/>
    </node>
  </group>

</launch>
